{% extends 'base.html' %}
{% load static i18n user_tags %}

{% block css %}
{% endblock %}

{% block nav %}
<div id="navbarSupportedContent" class="container-fluid">
  <ul class="navbar-nav nav_ul mr-auto mt-2 mt-lg-0">
    <li class="nav-item active nav_li">
       <a class="navbar-brand" href="#">
         <img src="{% static 'images/ZF_logo/256px-ZF_logo_STD.png' %}" alt="ZF" width="30" height="30" class="d-inline-block align-text-top">
         <span class="fw-bold">Management Document Familiarization 0.1.0</span>
       </a>
    </li>

    <li class="nav-item active nav_li">
      <a class="nav-link zf-nav-link" href="{% url 'mdf:base_page' %}">MDF Overview </a>
    </li>
    <li class="nav-item active nav_l">
      <a class="nav-link zf-nav-link" href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a>
    </li>
  </ul>
  <span class="navbar-text user-info text-light">&nbsp;{{ user }} |
    {# Kontrola, zda má uživatel groupu, nebo jestli je superuser - request.user|has_group:"TL" or user.is_superuser #}
    {% if user.is_authenticated %}
    <a class="text-light" href="{% url 'logout' %}"> {% trans "logout" %}</a>
    <a class="text-light" href="/admin"> {% trans "Admin panel" %}</a>
    {% else %}
    <a class="text-light" href="{% url 'login' %}"> {% trans "login" %}</a>
    {% endif %}
    - {{ APP_VERSION_NUMBER }}
  </span>
</div>
{% endblock nav %}

    {% block layout %}
    <main class="mt-5">
      <article>
        {% block content %}
        {# CONTENT - actual content goes here #}
        {% endblock content %}
      </article>
    </main>
    {% endblock layout %}

    {% block modal %}{% endblock modal %}
    {% block footer %}
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item zf-nav-link"><a class="nav-link px-2 text-body-secondary" href="{% url 'mdf:base_page' %}">MDF Overview</a></li>
          <li class="nav-item zf-nav-link"><a class="nav-link px-2 text-body-secondary" href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2024 Martin Uhlir</p>
    {% endblock footer %}
