{% extends 'base.html' %}
{% load static i18n user_tags %}



<!--<div class="col-sm-2 col-md-2">
    <div style="color:#fff;">
      <span class="bi bi-person-fill" style="color:black">&nbsp;{{ user }}
        {# Kontrola, zda má uživatel groupu, nebo jestli je superuser - request.user|has_group:"TL" or user.is_superuser #}
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}"> ({% trans "logout" %})</a>
          <a href="/admin"> ({% trans "Admin panel" %})</a>
        {% else %}
          <a href="{% url 'login' %}"> ({% trans "login" %})</a>
        {% endif %}
        - {{ APP_VERSION_NUMBER }}
       </span>
  </div>-->



  <!--<a href="{% url 'emp:emp_people_overview' %}">EMP Overview</a>-->
  <!-- Link to mdf module -->
<!--
  <a href="{% url 'mdf:base_page' %}">MDF Overview</a>
  <a href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a>
</div>-->

{% block css %}
  .nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .nav_li {
    display: inline;
    float: right;
  }

  .nav_a {
    color: white; /* Nastaví barvu textu na bílou */
    text-decoration: none; /* Odstraní podtržení */
  }

  .nav_a:hover {
    text-decoration: underline; /* Volitelné, podtržení při hoveru */
  }
{% endblock %}

{% block nav %}
  <a class="navbar-brand" href="">Management document familiarization</a>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav_ul">
      <li class="nav-item active nav_li">
        <a class="nav-link" href="{% url 'emp:emp_people_overview' %}">EMP Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active nav_li">
        <a class="nav-link" href="{% url 'mdf:base_page' %}">MDF Overview </a>
      </li>
      <li class="nav-item active nav_li">
        <a class="nav-link" href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a>
      </li>
        <div style="color:#fff;" class="form-inline my-2 my-lg-0">
          <span class="bi bi-person-fill" style="color:black">&nbsp;{{ user }}
            {# Kontrola, zda má uživatel groupu, nebo jestli je superuser - request.user|has_group:"TL" or user.is_superuser #}
            {% if user.is_authenticated %}
              <a class="nav_a" href="{% url 'logout' %}" style="color:white; text-decoration:none;"> {% trans "logout" %}</a>
              <a class="nav_a" href="/admin" style="color:white; text-decoration:none;"> {% trans "Admin panel" %}</a>
            {% else %}
              <a class="nav_a" href="{% url 'login' %}" style="color:white; text-decoration:none;"> {% trans "login" %}</a>
            {% endif %}
            - {{ APP_VERSION_NUMBER }}
          </span>
        </div>
    </ul>
  </div>



<!--
  <a class="navbar-brand" href="">Management document familiarization</a>
  <a class="nav_link" href="{% url 'emp:emp_people_overview' %}">EMP Overview<span class="sr-only">(current)</span></a>
  <a class="nav-link" href="{% url 'mdf:base_page' %}">MDF Overview</a>
  <a class="nav-link" href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a>
  <div style="color:#fff;">
          <span class="bi bi-person-fill" style="color:black">&nbsp;{{ user }}
            {# Kontrola, zda má uživatel groupu, nebo jestli je superuser - request.user|has_group:"TL" or user.is_superuser #}
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}"> ({% trans "logout" %})</a>
              <a href="/admin"> ({% trans "Admin panel" %})</a>
            {% else %}
              <a href="{% url 'login' %}"> ({% trans "login" %})</a>
            {% endif %}
            - {{ APP_VERSION_NUMBER }}
          </span>
        </div>-->
{% endblock nav %}

    {% block layout %}
    <main class="mt-5">
      <article>
        {% block content %}
        {# CONTENT - actual content goes here #}
        {% endblock content %}
      </article>
    </main>
    {% endblock layout %}

    {% block modal %}{% endblock modal %}
    {% block footer %}
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'emp:emp_people_overview' %}">EMP Overview</a></li>
          <li class="nav-item"><a href="{% url 'mdf:base_page' %}">MDF Overview</a></li>
          <li class="nav-item"><a href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2024 Martin Uhlir</p>
    {% endblock footer %}
