{% extends 'base.html' %}
{% load static i18n user_tags %}

{% block css %}
{% endblock %}

{% block nav %}
  <a class="navbar-brand" href="">Management document familiarization</a>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav_ul">
      <li class="nav-item active nav_li">
        <a class="nav-link zf-nav-link" href="{% url 'emp:emp_people_overview' %}">EMP Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active nav_li">
        <a class="nav-link zf-nav-link" href="{% url 'mdf:base_page' %}">MDF Overview </a>
      </li>
      <li class="nav-item active nav_l">
        <a class="nav-link zf-nav-link" href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a>
      </li>
        <div style="color:#fff;" class="form-inline my-2 my-lg-0">
          <span class="bi bi-person-fill" style="color:black">&nbsp;{{ user }}
            {# Kontrola, zda má uživatel groupu, nebo jestli je superuser - request.user|has_group:"TL" or user.is_superuser #}
            {% if user.is_authenticated %}
              <a class="nav_a zf-nav-link" href="{% url 'logout' %}" style="color:white; text-decoration:none;"> {% trans "logout" %}</a>
              <a class="nav_a zf-nav-link" href="/admin" style="color:white; text-decoration:none;"> {% trans "Admin panel" %}</a>
            {% else %}
              <a class="nav_a zf-nav-link" href="{% url 'login' %}" style="color:white; text-decoration:none;"> {% trans "login" %}</a>
            {% endif %}
            - {{ APP_VERSION_NUMBER }}
          </span>
        </div>
    </ul>
  </div>
{% endblock nav %}

    {% block layout %}
    <main class="mt-5">
      <article>
        {% block content %}
        {# CONTENT - actual content goes here #}
        {% endblock content %}
      </article>
    </main>
    {% endblock layout %}

    {% block modal %}{% endblock modal %}
    {% block footer %}
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item zf-nav-link"><a href="{% url 'emp:emp_people_overview' %}">EMP Overview</a></li>
          <li class="nav-item zf-nav-link"><a href="{% url 'mdf:base_page' %}">MDF Overview</a></li>
          <li class="nav-item zf-nav-link"><a href="{% url 'mdf:admin_file_search_page'%}">MDF Admin</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2024 Martin Uhlir</p>
    {% endblock footer %}
