{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
  {% include 'part/datatables.html' with datatables_element_id='mdf_document_overview_table' search_panes_columns='[1]' fixed_columns='1' %}
{% endblock inline_javascript %}

{% block content %}

<div class="container mt-5">
        <h1>Documents List</h1>
        <div class="navbar navbar-expand-lg navbar-light bg-light">
          {% if is_admin %}
            <!--<a href="{% url 'mdf:publishing_page' %}">Add New Document</a>-->
            <a class="nav-link" href="?tab=user">Documents for you</a>
            <a class="nav-link" href="?tab=author">My documents</a>
            <a class="nav-link" href="?tab=admin">All documents</a>

          {% elif is_author %}
            <!--<a href="{% url 'mdf:publishing_page' %}">Add New Document</a>-->
            <a class="nav-link" href="?tab=user">Documents for you</a>
            <a class="nav-link" href="?tab=author">My documents</a>

          {% endif %}
        </div>

        <!-- Tables -->
        {% if active_tab == 'admin' %}
        <h2>All documents</h2>
        {% elif active_tab == 'author' %}
        <h2>My documents</h2>
        {% else %}
        <h2>Documents for you</h2>
        {% endif %}
        <table aria-describedby="Overview of the Employees"
               id="mdf_document_overview_table"
               class="table overview-datatable tab_user">
        <!-- Admin table -->
        {% if active_tab == 'admin' %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Show document</th>
                    <th>Show stats</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents_list %}
                <tr>
                    <td>{{ document.document.doc_name }}</td>
                    <td>{{ document.document.release_date|date:"d/m/Y" }}</td>
                    <td>{{ document.document.category }}</td>
                    <td>{{ document.document.status }}</td>
                    <td>{{ document.document.owner.full_name }}</td> <!-- Adjust according to your User model -->
                    <td><a class="bi bi-filetype-pdf" href="{% url 'mdf:document_page' %}?doc_url={{ document.document.doc_url }}"> Zobrazit</a></td>
                    <td><a href="{% url 'mdf:document_stats' %}?doc_id={{ document.encrypted_id }}">Show document details</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No documents found.</td>
                </tr>
                {% endfor %}
            </tbody>
        {% elif active_tab == 'author' %}
          <!-- Author table -->
            <thead>

                <tr>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Author</th>
                    <th>Show document</th>
                    <th>Show stats</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents_list %}
                <tr>
                    <td>{{ document.document.doc_name }}</td>
                    <td>{{ document.document.release_date|date:"d/m/Y" }}</td>
                    <td>{{ document.document.category }}</td>
                    <td>{{ document.document.status }}</td>
                    <td>{{ document.document.owner.full_name }}</td> <!-- Adjust according to your User model -->
                    <td><a class="bi bi-filetype-pdf" href="{% url 'mdf:document_page' %}?doc_url={{ document.document.doc_url }}"> Zobrazit</a></td>
                    <td>
                      {% if document.document.owner == request.user %}
                        <a href="{% url 'mdf:document_stats' %}?doc_id={{ document.encrypted_id }}">Show document details</a>
                      {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No documents found.</td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
        <!-- User table -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Author</th>
                    <th>Familiarized with the document</th>
                    <th>Show document</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents_list %}
                <tr>
                    <td>{{ document.document.doc_name }}</td>
                    <td>{{ document.document.release_date|date:"d/m/Y" }}</td>
                    <td>{{ document.document.owner.full_name }}</td> <!-- Adjust according to your User model -->
                    <td>{% if document.agree_exists %}
                            <p class="font-weight-normal text-success">Accepted</p>
                        {% else %}
                            <p class="font-weight-normal text-danger">Not accepted</p>
                        {% endif %}
                    </td>
                    <td><a class="bi bi-filetype-pdf" href="{% url 'mdf:document_page' %}?doc_url={{ document.document.doc_url }}"> Zobrazit</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No documents found.</td>
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>
    </div>
{% endblock content %}
