{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
  {% include 'part/datatables.html' with datatables_element_id='managed_docu_familiarization_table' search_panes_columns='[1]' fixed_columns='1' %}
{% endblock inline_javascript %}

{% block content %}

<div class="container">
        <h1>Documents List</h1>
        {% if is_admin %}
            <a href="{% url 'mdf:publishing_page' %}">Add New Document</a>
        {% endif %}
        <table aria-describedby="Overview of the Employees" id="emp_people_overview_table"
             class="table overview-datatable">
            <thead>

                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Release Date</th>
                    <th>Owner</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for document in mdf_documents %}
                <tr id="{{ document.doc_id }}">
                    <!--<td>{{ document.doc_id }}</td>-->
                    <td>{{ document.doc_name }}</td>
                    <td>{{ document.release_date }}</td>
                    <td>{{ document.owner.full_name }}</td> <!-- Adjust according to your User model -->
                    <td><a href="{% url 'mdf:document_page' %}?doc_url={{ document.doc_url }}">Zobrazit</a></td>
                    <td>
                      {% if document.owner == request.user %}
                        <a href="{% url 'mdf:document_agreements' document.doc_id %}">Zobrazit statistiky</a>
                      {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No documents found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
