{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <style>
        /* Zajištění centrování celé stránky */
        .centered-content {
            min-height: 100vh; /* Výška stránky */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertikální zarovnání */
            align-items: center; /* Horizontální zarovnání */
            text-align: center; /* Text na střed */
        }

        /* Formulář a obsah */
        .container {
            display: flex;
            flex-direction: column; /* Vertikální uspořádání formuláře */
            gap: 20px; /* Odstup mezi prvky formuláře */
            max-width: 70%; /* Maximální šířka formuláře */
            /*width: 100%;*/ /* Přizpůsobení šířce stránky */
        }
    </style>
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
{% endblock inline_javascript %}

{% block content %}
<div class="container mt-5 centered-content">
  <h1>Document Selection for Sending</h1>
  <div>
  </div>
      <form class="" method="post" action="{% url 'mdf:admin_add_document_page' %}">
        {% csrf_token %}
        {{ form.media }}
        <div class="form-row form-group mb-4 pb-4">
            <p class="col-sm-2 col-form-label text-right">{{ form.document_name.label_tag }}</p>
            <div class="col-sm-10">
            {{ form.document_name }}
            </div>
        </div>
        <div class="form-row form-group mb-4 pb-4">
            <p class="col-sm-2 col-form-label text-right">{{ form.document_path.label_tag }}</p>
            <div class="col-sm-10">
            {{ form.document_path }}
            </div>
        </div>
        <div class="form-row form-group mb-4 pb-4">
            <p class="col-sm-2 col-form-label text-right">{{ form.owner.label_tag }}</p>
            <div class="col-sm-10">
            {{ form.owner }}
            </div>
        </div>
        <div id="responsible_users_div" class="form-row form-group mb-4 pb-4">
            <p class="col-sm-2 col-form-label text-right">{{ form.responsible_users.label_tag }}</p>
            <div class="col-sm-10">
            {{ form.responsible_users }}
            </div>
        </div>
        <input type="hidden" name="document" value="{{ document }}">
        <input type="hidden" name="action" value="{{ action }}">
        <button type="submit" class="btn btn-success mt-3">Add new document</button>
      </form>


  {% if generated_link %}
    <p>Vygenerovaný odkaz pro vlastníka: <a href="{{ generated_link }}">{{ generated_link }}</a></p>
  {% endif %}
</div>
<script>
    // JavaScript to set document URL to text field
    function setDocumentUrl(url) {
      document.querySelector('[name="document_path"]').value = url;
    }
    document.addEventListener('DOMContentLoaded', function(){
      const responsibleUserSelectElement = document.getElementById("id_users");
      if (contactUserSelectElement) {
        SelectFilter.init("id_users", "Responsible_users", 0);
      }
    });
</script>
{% endblock content %}
