{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
  {% include 'part/datatables.html' with datatables_element_id='managed_docu_familiarization_table' search_panes_columns='[1]' fixed_columns='1' %}
{% endblock inline_javascript %}

{% block content %}

<h2>Document stats:</h2>
<div>
  <div>
    <p>Document name: {{ document.doc_name }}</p>
    <p>Document url: {{ document.doc_url }}</p>
    <p>Release date: {{ document.release_date }}</p>
    <p>Document owner: {{ document.owner.zf_id }}</p>
    <p>Category: {{ document.category }}</p>

  </div>
  <div>

  </div>
</div>

<div>
  <p>Number of agreements: {{ agreements_count }}/{{ users_count }}</p>
</div>
<div>
  <table aria-describedby="Overview of the Employees"
               id="mdf_document_overview_table"
               class="table overview-datatable tab_user">
    <thead>
        <tr>
            <th>User</th>
            <th>Status</th>
            <th>Date of agreement</th>
            <th>Reading time</th>
            <th>Number of views</th>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for agreement in agreements_list %}
        <tr>
            <td>{{ agreement.user.zf_id }}</td>
            <td>{{ agreement.status }}</td>
            <td>{{ agreement.agreed_at }}</td>
            <td>{{ agreement.reading_time }} s</td>
            <td>{{ agreement.open_count }}</td>
            {% if agreement.agreed_at == '-' %}
              <td>
                <button class="btn btn-primary" onclick="sendEmail('{{ agreement.user.zf_id }}', '{{ document.doc_id }}')">Send notification</button>
              </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<div>
  <a href="javascript:history.back()">Back to the list of documents</a>
</div>

<script>
function sendEmail(userId, documentId) {

    data = JSON.stringify({
        user_id: userId,
        document_id: documentId
    })


    let response = fetch(`/mdf/mdfdocuments/agreements/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Django CSRF token
            'Content-Type': 'application/json'
        },
        body: data,
    }).then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json(); // Předpokládáme, že server vrací JSON
    })
    .then(data => {
        console.log("Server response:", data);
        if (data.status === 'success') {
            alert("Email was successfully sent.");
        } else {
            alert("Error: " + data.message);
        }
    })
    .catch(error => {
        console.error("Error during email notification:", error);
        alert("An error occurred while sending the email.");
    });
}
</script>
{% endblock content %}

