{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users {% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <style>
        <style>
        /* Ensuring centering of the entire page */
        .centered-content {
            min-height: 100vh; /* Page height */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertical alignment */
            align-items: center; /* Horizontal alignment */
            text-align: center; /* Center text */
        }

        .category-choice {
            display: flex;
            flex-direction: column; /* Vertical arrangement */
        }

        .category-choice label {
            display: flex; /* Arranging content in a row */
            align-items: center; /* Vertical text alignment */
            gap: 10px; /* Space between radiobutton and text */
        }

        .category-choice input[type="radio"] {
            margin: 0; /* Removing default indentation */
        }

        .list-container {
            width: 100%; /* Adapting to container width */
        }

        .list {
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px;
            overflow-y: auto;
        }

        button {
            margin-top: 20px; /* Button spacing from other elements */
        }
    </style>
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
{% endblock inline_javascript %}

{% block content %}
<div class="centered-content">
  <h2>Document Selection</h2>
  <div class="container" style="display: flex; flex-direction: column; max-width: 60%;">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      <div class="m-auto border-bottom">
        <label for="document_div" class="form-label">1. Document Info:</label>
        <div id="document_div" class="form-group">
          <div class="form-group">
            {{ form.document_name.label_tag }} {{ form.document_name }} {{ form.document_name.errors }}
          </div>
          <div class="form-group">
            {{ form.document_path.label_tag }} {{ form.document_path }} {{ form.document_path.errors }}
          </div>
        </div>
      </div>
      <div class="m-auto border-bottom">
        <label for="contact_user_div" class="form-label">2. Additional information:</label>
        <div id="contact_user_div" class="form-group m-auto p-4">
          <div class="form-group">
            {{ form.owner.label_tag }}{{ form.owner }}
          </div>
          <div class="form-group category-choice m-auto p-4">
            {{ form.document_category }}
          </div>
        </div>
      </div>
      <input type="hidden" name="document" value="{{ document }}">
      <input type="hidden" name="action" value="{{ action }}">
      <button type="submit" class="btn btn-success mt-3">Add new document</button>
    </form>
  </div>
</div>

<script>
    // JavaScript to set document URL to text field
    function setDocumentUrl(url) {
      document.querySelector('[name="document_path"]').value = url;
    }
    document.addEventListener('DOMContentLoaded', function(){
      const responsibleUserSelectElement = document.getElementById("id_users");
      if (contactUserSelectElement) {
        SelectFilter.init("id_users", "Responsible_users", 0);
      }
    });
</script>
{% endblock content %}
