{% extends 'layout/_grid.html' %}
{% load static i18n user_tags %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
<style>
  /* Ensuring content is centered */
  .centered-content {
    min-height: 100vh; /* Page height */
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/ /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: center; /* Center text alignment */
  }

  iframe {
    border: 2px solid ##7A7A7A;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    margin: 0 auto; /* Center alignment */
    display: block; /* For center alignment */
    max-width: 90%; /* Maximum width for smaller screens */
    min-width: 80%; /* Minimum width for smaller screens */
  }

  button {
    margin-top: 20px; /* Spacing above the button*/
  }

  hr {
    width: 80%; /* Alignment and width of hr for aesthetics */
  }

  .download-link {
    margin-top: 10px; /* Link spacing */
  }
</style>
{% endblock css %}

{% block javascript %}
{% endblock javascript %}


{% block inline_javascript %}
  {% include 'part/datatables.html' with datatables_element_id='managed_docu_familiarization_table' search_panes_columns='[1]' fixed_columns='1' %}
{% endblock inline_javascript %}

{% block content %}
<div class="centered-content container">
  <h1 class="border-bottom">Document preview: {{ document.doc_name }}</h1>
  {% if message %}
    <p style="color: green;">{{ message }}</p>
  {% else %}
    {% if is_from_google %}
      <iframe class="embed-responsive-item border-bottom" src="{{ document_url }}" width="100%" height="800px">
      <!--<iframe src="https://drive.google.com/viewerng/viewer?url={{ document_url }}=en&pid=explorer&efh=false&a=v&chrome=false&embedded=true" frameborder="0">-->
      <!--<iframe class="justify-content-center embed-responsive-item" src="https://docs.google.com/viewer?srcid={{document_google_id}}&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="800px">-->
      This browser does not support viewing PDF documents.
      </iframe>
    {% else %}
      <!--<a href="{{ doc_url_shp }}" class="btn btn-primary" target="_blank">-->
      <a href="{{ document.doc_url }}" class="btn btn-primary" target="_blank">
          OPEN DOCUMENT
      </a>
    {% endif %}

  {% endif %}
    <div class="border-bottom ">
      {% if category == 3 %}
        {% if accepted %}
          <p>Consent sent!</p>
        {% else %}
          <h2>Consent to the document</h2>
          <form method="post">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="consent" required id="timeSpent" value="0">
                I agree with the content of the document
            </label>
            <br><br>
            <button type="submit" onclick="calculateTimeSpent()">Send consent</button>
          </form>
        {% endif %}
      {% endif %}
    </div>
    <div class="">
      <hr>
      <h3>Download document</h3>
      <p>
        To download the document, click on the following link:
      </p>
      {% if is_from_google %}
        <a class="download-link" href="{{ file_url }}" download>Download document</a>
      {% else %}
        <a class="download-link" href="{{ file_url_sharepoint }}" download>Download document</a>
      {% endif %}
      <hr>
      <p><a href="{% url 'mdf:base_page' %}">Back to list of documents</a></p>
    </div>
</div>

<script>
    let startTime = Date.now();

    function calculateTimeSpent() {
        let endTime = Date.now();
        let timeSpent = Math.floor((endTime - startTime) / 1000);
        document.getElementById('timeSpent').value = timeSpent;
    }
</script>
{% endblock content %}
