{% extends 'layout/_grid.html' %}
{% load static %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <style>
        /* Zajištění centrování celé stránky */
        .centered-content {
            min-height: 100vh; /* Výška stránky */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertikální zarovnání */
            align-items: center; /* Horizontální zarovnání */
            text-align: center; /* Text na střed */
        }

        .category-choice {
            display: flex;
            flex-direction: column; /* Vertikální uspořádání */
        }

        .category-choice label {
            display: flex; /* Uspořádání obsahu v řádku */
            align-items: center; /* Vertikální zarovnání textu */
            gap: 10px; /* Mezera mezi radiobuttonem a textem */
        }

        .category-choice input[type="radio"] {
            margin: 0; /* Odstranění defaultního odsazení */
        }

        .list-container {
            width: 100%; /* Přizpůsobení šířce kontejneru */
        }

        .list {
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px;
            overflow-y: auto;
        }

        button {
            margin-top: 20px; /* Odstup tlačítka od ostatních prvků */
        }
    </style>
{% endblock css %}

{% block content %}

{% if is_uploaded %}
<div class="centered-content">
  <h2 class="mb-auto">Add a New Document</h2>
  <div class="container" style="display: flex; flex-direction: column; max-width: 60%;">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      <div class="m-auto border-bottom">
        <label for="document_div" class="form-label">Document Info:</label>
        <div id="document_div" class="form-group">
          {{ form.name.label_tag }} {{ form.name }} {{ form.name.errors }}
          {{ form.url.label_tag }} {{ form.url }} {{ form.url.errors }}
        </div>
      </div>
      <div id="contact_user_div" class="form-group m-auto p-4">
        {{ form.contact_users.label_tag }} {{ form.contact_users }} {{ form.contact_users.errors }}
      </div>
      <div class="form-group category-choice m-auto p-4 border-bottom border-top">
        {{ form.category.label_tag }} {{ form.category }} {{ form.category.errors }}
        <span data-bs-toggle="tooltip" data-bs-html="true" title="{{ info_text }}">
            <i class="bi bi-info-circle"></i>
        </span>
      </div>
      <div id="deadline-selection" class="form-group m-auto p-4 border-bottom" style="display: none;">
        {{ form.deadline.label_tag }} {{ form.deadline }} {{ form.deadline.errors }}
      </div>
      <div id="group-selection" class="form-group m-auto p-4" style="display: none;">
        {{ form.groups.label_tag }} {{ form.groups }} {{ form.groups.errors }}
      </div>
      <div id="email-message" class="form-group border-bottom border-top m-auto p-4" style="display: none;">
        {{ form.message.label_tag }} {{ form.message }} {{ form.message.errors }}
      </div>
      <div class="m-4 p-4 border-bottom">
        <button type="submit" class="btn btn-success mt-3">Add Document</button>
      </div>

    </form>
  </div>
</div>

<script type="text/javascript">
  // Initialize the FilteredSelectMultiple widget on page load
  //window.addEventListener('load', function()
  document.addEventListener('DOMContentLoaded', function(){
    const groupSelectElement = document.getElementById("id_groups");
    const contactUserSelectElement = document.getElementById("id_users");
    if (groupSelectElement) {
      SelectFilter.init("id_groups", "Groups", 0);
    }
    if (contactUserSelectElement) {
      SelectFilter.init("id_users", "Users", 0);
    }
  });

  // JavaScript to show/hide the group selection based on category choice
  document.addEventListener('DOMContentLoaded', function() {
      // Get radio buttons and the group-selection div
      const categoryChoices = document.querySelectorAll('.category-choice input');
      const groupSelection = document.getElementById('group-selection');
      const deadlineSelection = document.getElementById('deadline-selection');
      const messageEmail = document.getElementById('email-message');
      // Function to toggle the visibility of the group-selection div
      function toggleGroupSelection() {
          const selectedCategory = document.querySelector('.category-choice input:checked');
          if (selectedCategory && (selectedCategory.value === '2' || selectedCategory.value === '3')) {
             groupSelection.style.display = 'block';
             messageEmail.style.display = 'block';
             if (selectedCategory.value === '3') {
                deadlineSelection.style.display = 'block';
             } else {
                deadlineSelection.style.display = 'none';
             }
          } else {
             groupSelection.style.display = 'none';
             deadlineSelection.style.display = 'none';
             messageEmail.style.display = 'none';
          }
      }

      // Attach event listeners to each radio button
      categoryChoices.forEach(choice => choice.addEventListener('change', toggleGroupSelection));
      // Initialize visibility based on the current selection
      toggleGroupSelection();
  });
  document.addEventListener('DOMContentLoaded', function () {
      const deadlineField = document.getElementById('id_deadline');
      const contactUsersField = document.getElementById('id_contact_users');
      const contactUsersFieldTo = document.getElementById('id_contact_users_to');
      const messageField = document.getElementById('id_message');
      // Function for updating/replacing part of a message
      function replaceOrAddSection(text, sectionTitle, newValue) {
          const sectionRegex = new RegExp(`${sectionTitle}:.*?(\\n|$)`, 'i');
          if (newValue) {
             const newSection = `${sectionTitle}: ${newValue}\n`;
             if (sectionRegex.test(text)) {
                return text.replace(sectionRegex, newSection);
             } else {
                return text + newSection;
             }
          } else {
             // If the value is not there, we delete the section
             return text.replace(sectionRegex, '');
          }
      }

      /*function getSelectedUsersText() {
          return Array.from(contactUsersField.options)
                .filter(option => option.selected)
                .map(option => option.text)
                .join(', ');
          }*/

      function getSelectedUsersText() {
         var options = document.getElementById('id_contact_users_to').options;
         return Array.from(options)
            .map( option  => option.text)
            .join(', ');
      }

      // Main functions for updating the message
      function updateMessage() {
          let currentMessage = messageField.value;


          const deadline = deadlineField.value;
          currentMessage = replaceOrAddSection(currentMessage, 'Deadline', deadline);
          const selectedUsers = getSelectedUsersText();
          currentMessage = replaceOrAddSection(currentMessage, 'Contact Users', selectedUsers);
          // Set back to message field
          messageField.value = currentMessage.trim() + '\n';
      }
      // Connecting event listeners
      deadlineField.addEventListener('change', updateMessage);
      contactUsersField.addEventListener('change', updateMessage);
   });
  // Showing popup info
  document.addEventListener("DOMContentLoaded", function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
{% else %}
<div class="centered-content">
  <h2 class="mb-4">The document has already been published!</h2>
</div>
{% endif %}

{% endblock content %}
