{% extends 'layout/_grid.html' %}
{% load static %}

{% block title %}- MDF base template for users{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <style>
        /* Zajištění centrování celé stránky */
        .centered-content {
            min-height: 100vh; /* Výška stránky */
            display: flex;
            flex-direction: column;
            justify-content: center; /* Vertikální zarovnání */
            align-items: center; /* Horizontální zarovnání */
            text-align: center; /* Text na střed */
        }

        /* Formulář a obsah */
        .container {
            display: flex;
            flex-direction: column; /* Vertikální uspořádání formuláře */
            gap: 20px; /* Odstup mezi prvky formuláře */
            max-width: 600px; /* Maximální šířka formuláře */
            width: 100%; /* Přizpůsobení šířce stránky */
        }

        .category-choice {
            display: flex;
            flex-direction: column; /* Vertikální uspořádání */
        }

        .category-choice label {
            display: flex; /* Uspořádání obsahu v řádku */
            align-items: center; /* Vertikální zarovnání textu */
            gap: 10px; /* Mezera mezi radiobuttonem a textem */
        }

        .category-choice input[type="radio"] {
            margin: 0; /* Odstranění defaultního odsazení */
        }

        .list-container {
            width: 100%; /* Přizpůsobení šířce kontejneru */
        }

        .list {
            border: 1px solid #ccc;
            padding: 10px;
            height: 200px;
            overflow-y: auto;
        }

        button {
            margin-top: 20px; /* Odstup tlačítka od ostatních prvků */
        }
    </style>
{% endblock css %}

{% block content %}


<div class="centered-content">
  <h2 class="mb-4">Add a New Document</h2>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      <div class="mb-3">
        <label for="document_div" class="form-label">Document Info:</label>
        <div id="document_div" class="form-group">
          {{ form.name.label_tag }} {{ form.name }}
          {{ form.url.label_tag }} {{ form.url }}
        </div>
      </div>
      <div id="contact_user_div" class="form-group mb-4 pb-4">
        {{ form.contact_users.label_tag }} {{ form.contact_users }}
      </div>
      <div class="form-group category-choice mb-4 pb-4">
        {{ form.category.label_tag }} {{ form.category }}
      </div>
      <div id="deadline-selection" class="form-group mb-4 pb-4" style="display: none;">
        {{ form.deadline.label_tag }} {{ form.deadline }}
      </div>
      <div id="group-selection" class="form-group mb-4 pb-4" style="display: none;">
        {{ form.groups.label_tag }} {{ form.groups }}
      </div>
      <div id="email-message" class="form-group mb-4 pb-4" style="display: none;">
        {{ form.message.label_tag }} {{ form.message }}
      </div>
      <div class="mb-4 pb-4">
        <button type="submit" class="btn btn-success mt-3">Add Document</button>
      </div>

    </form>
  </div>
</div>

    <script type="text/javascript">
        // Initialize the FilteredSelectMultiple widget on page load
        //window.addEventListener('load', function()
        document.addEventListener('DOMContentLoaded', function(){
            const groupSelectElement = document.getElementById("id_groups");
            const contactUserSelectElement = document.getElementById("id_users");
            if (groupSelectElement) {
                SelectFilter.init("id_groups", "Groups", 0);
            }
            if (contactUserSelectElement) {
                SelectFilter.init("id_users", "Users", 0);
            }
        });

        // JavaScript to show/hide the group selection based on category choice
        document.addEventListener('DOMContentLoaded', function() {
            // Get radio buttons and the group-selection div
            const categoryChoices = document.querySelectorAll('.category-choice input');
            const groupSelection = document.getElementById('group-selection');
            const deadlineSelection = document.getElementById('deadline-selection');
            const messageEmail = document.getElementById('email-message');

            // Function to toggle the visibility of the group-selection div
            function toggleGroupSelection() {
                const selectedCategory = document.querySelector('.category-choice input:checked');
                if (selectedCategory && (selectedCategory.value === '2' || selectedCategory.value === '3')) {
                    groupSelection.style.display = 'block';
                    messageEmail.style.display = 'block';
                    if (selectedCategory.value === '3') {
                        deadlineSelection.style.display = 'block';
                    } else {
                        deadlineSelection.style.display = 'none';
                    }
                } else {
                    groupSelection.style.display = 'none';
                    deadlineSelection.style.display = 'none';
                    messageEmail.style.display = 'none';
                }
            }

            // Attach event listeners to each radio button
            categoryChoices.forEach(choice => choice.addEventListener('change', toggleGroupSelection));

            // Initialize visibility based on the current selection
            toggleGroupSelection();
        });
    </script>


{% endblock content %}
